:root {
  /*color*/
  --white-color: #fff;
  --black-color: #140a00;
  --blue-color: #045fd4;
  --red-color: #ff000;
  --grey-dark-color: #909090;
  --grey-light-color: #e0e0e0;
  /* size */
  --padding: 12px;
  --avatar-size: 36px;
  /* font size */
  --font-large: 18px;
  --font-medium: 14px;
  --font-small: 12px;
  --font-micro: 10px;
}
ul {
  list-style: none;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto;
}

button,
button:focus {
  border: none;
  cursor: pointer;
  outline: none;
  background-color: var(--white-color);
}

header {
  display: flex;
  justify-content: space-between;
  padding: var(--padding);
  background-color: var(--white-color);
  color: var(--black-color);
  padding-left: 30px;
}

header .logo {
  font-size: var(--font-large);
}

#YouTudelogo i {
  color: red;
  size: var(--font-large);
}

.player {
  position: sticky;
  text-align: center;
  top: 0;
  background-color: var(--white-color);
}

.player video {
  width: 100%;
  height: 100%;
  max-width: 1000px;
}

.nextinfo {
  padding: var(--padding);
  display: flex;
  flex-direction: column;
}

.info .myinfo {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  margin-left: 50px;
}
.info .title.clamp {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}
.info .title {
  font-size: var(--font-large);
  margin-right: var(--padding);
}
.actions {
  justify-content: space-between;
  display: flex;
}

.info .view {
  font-size: var(--font-medium);
  color: var(--grey-dark-color);
  margin-top: 5px;
}

.actions ul {
  display: flex;
  padding: var(--padding);
}

.actions ul li button {
  display: flex;
  flex-direction: row;
  padding: var(--padding);
  color: var(--grey-dark-color);
  font-size: var(--font-small);
}

.actions ul li button i {
  padding-right: 10px;
  font-size: var(--font-medium);
}
.actions ul li button i.active {
  color: var(--blue-color);
}

.profile button {
  background-color: red;
  border-radius: 2px;
  color: white;
  width: 50px;
  height: 30px;
  font-size: var(--font-medium);
  margin-top: 10px;
}

.profile img {
  width: var(--avatar-size);
  height: var(--avatar-size);
  border-radius: 50%;
}

.profile .meta {
  display: flex;
  align-items: center;
}

.profile {
  display: flex;
  justify-content: space-between;
}
.channel {
  border-top: 1px solid var(--grey-light-color);
  border-bottom: 1px solid var(--grey-light-color);
}

.profile .script {
  display: flex;
  flex-direction: column;
  padding: var(--padding);
}

.profile .script .scribers {
  font-size: var(--font-small);
  color: var(--grey-dark-color);
}

.post li .img {
  flex: 1 1 35%;
}

.post li .img img {
  width: 100%;
  padding: var(--padding);
}
.post {
  padding: 0 var(--padding);
}

.post li {
  display: flex;
  border-bottom: 1px solid var(--grey-light-color);
}

.post li .nextinfo {
  display: flex;
  flex-direction: column;

  flex: 1 1 60%;
}

.post li .more {
  height: 100%;
  flex: 1 1 5%;
}

.post .next {
  padding: 0 var(--padding);
}
.infoandpost {
  display: flex;
  flex-direction: column;
}

.post ul li .nextinfo {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 758px) {
  .infoandpost {
    flex-direction: row;
    margin: var(--padding) 0;
  }
}
